Hypothesis Testing

1.  Define Hypothesis :
-  H0 : The theoretical weekly operating cost model: W = $1,000 + $5X is not accurate. (W != $1,000 + $5X)
-  HA : The theoretical weekly operating cost model: W = $1,000 + $5X is accurate. (W = $1,000 + $5X)
2.  We have Population mean. Therefore, we will use Z-test.
3.  Two tail test (bcz we have to find cost model is accurate or not, in short if it is not accurate, it can be less or more. there fore, Two-Tail test)
4.  Confidence Interval = 95% , Alpha Value = 0.05
5.  Calculating z-statistics value and p-value

-  Sample Size = 25
-  No. of Samples = 1
-  Sample Mean = ˉxˉ = 3050
-  Population Mean = μ = (W = $1,000 + $5X for X = 600 units) = 4000
-  Population Std = σ = 5*25 units = 125 units
-  Alpha Value  = 0.05

In [3]:
import scipy
from scipy import stats
import numpy as np

In [4]:
#calculating z-statistics value (z = (ˉxˉ - μ)/(σ/sqrt(n)))

n = 25
ˉxˉ = 3050
μ = 4000
σ = 125
z = ((ˉxˉ - μ)/(σ/np.sqrt(n)))
print(z)

-38.0

our z-statistics value is -38 and our confidence interval is 95%. for 95% confidence interval, acceptance region is from -1.96 to 1.96 only. Therefore, our z-statistics value -38 doesn't belong to Acceptance region, it belongs to Error Region. Therefore, We will Reject Null Hypothesis.

In [6]:
if z > (-1.96):
    print ("Failed to reject H0. The theoretical weekly operating cost model: W = $1,000 + $5X is not accurate. W != $1,000 + $5X")
else :
    print ("Reject H0. The theoretical weekly operating cost model: W = $1,000 + $5X is accurate. W = $1,000 + $5X")

Reject H0. The theoretical weekly operating cost model: W = $1,000 + $5X is accurate. W = $1,000 + $5X

Chi-Square Test

Null Hypothesis (H0) : Both the columns (the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level)are Independent.
Alternate Hypothesis (HA) : Both the columns (the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level) are dependent to each other.0	600

In [10]:
import pandas as pd

In [32]:
df = pd.DataFrame({ 'Satisfaction' : ['Very Satisfied', 'Satisfied', 'Neutral', 'Unsatisfied', 'Very Unsatisfied'], 
                    'Smart Thermostat' : ['50', '80', '60', '30', '20'] ,
                    'Smart Light' : ['70', '100', '90', '50', '50'],
                    'Total' : ['120', '180', '150', '80', '70']})
df

       Satisfaction Smart Thermostat Smart Light Total
0    Very Satisfied               50          70   120
1         Satisfied               80         100   180
2           Neutral               60          90   150
3       Unsatisfied               30          50    80
4  Very Unsatisfied               20          50    70

In [33]:
from scipy.stats import chi2_contingency

In [34]:
obs = pd.crosstab(index = df['Satisfaction'], columns = df['Total'])
obs

Total             120  150  180  70  80
Satisfaction
Neutral             0    1    0   0   0
Satisfied           0    0    1   0   0
Unsatisfied         0    0    0   0   1
Very Satisfied      1    0    0   0   0
Very Unsatisfied    0    0    0   1   0

In [35]:
chi2, p, dof, exp = chi2_contingency(obs)

In [36]:
p

0.22022064660169877

In [37]:
exp     #expected frequency

array([[0.2, 0.2, 0.2, 0.2, 0.2],
       [0.2, 0.2, 0.2, 0.2, 0.2],
       [0.2, 0.2, 0.2, 0.2, 0.2],
       [0.2, 0.2, 0.2, 0.2, 0.2],
       [0.2, 0.2, 0.2, 0.2, 0.2]])

In [38]:
dof    #degrees of freedom

16

with dof = 16 and alpha value = 0.05 , Critical value  = 26.296    
Therefore,
-  Critical Value (26.296) > Chi2 Statistics Value (20)
-  Failed to Reject Null Hypothesis. Both Columns are Independent.

In [39]:
chi2     #test-statistics value

20.000000000000004

Alpha value = 0.05

In [41]:
if p < 0.05:
    print ('Reject Null Hypothesis. Both the Columns are Dependent to each other.')
else :
    print ('Failed to Reject Null Hypothesis. Both the Columns are Independent.')

Failed to Reject Null Hypothesis. Both the Columns are Independent.